<% if logged_in? %>

<h1 style="text-align:center; margin:50px;">Wineposts</h1>

<h2 style="text-align:center; margin:50px;"><%= link_to 'ワインを投稿する', new_winepost_path %></h2>

  
  <%= render 'wineposts/wineposts', wineposts: @wineposts %>
  
<% else %>
<div class="center jumbotron" style="background-color:#f6efdb" style="margin-bottom:25px;">
  <div class="text-center" >
    <h1>Wineposts へようこそ！</h1>
    <div style="margin:15px;"><%= link_to '初めてご利用の方はコチラ', signup_path, class: 'btn btn-lg btn-primary' %></div>
    <div style="margin:15px;"><%= link_to '登録済の方はコチラ', login_path, class: 'btn btn-lg btn-primary' %></div>
  </div>
</div>

 <%= render 'wineposts/wineposts', wineposts: @wineposts %>

<% end %>