<div class="grid">
	<% wineposts.each do |winepost| %>
	  <div class="item">
	    <div class="media mb-3">
	      <img class="mr-2 rounded" src="<%= gravatar_url(winepost.user, { size: 50 }) %>" alt="">
	      <div class="media-body">
					<div class="wine-img">
						<p>
						  <% if winepost.image? %>
						   <%= image_tag winepost.image.url,  :size => '210x210' %>
						  <% else %> 
						   <%= image_tag "/default.jpg", :size => '210x210' %>
						  <% end %> 
						</p>
					</div>
          <div class="wine-name-type">
        		<p><span>posted by : </span><%= link_to winepost.user.name, user_path(winepost.user) %></p>
	        	<p><span>name : </span><%= winepost.wine_name %></p>
	          <p><span>type : </span><%= winepost.wine_type %></p>
	          <!--<p><span class="text-muted">posted at : <%= winepost.created_at.strftime("%Y-%m-%d %H:%M") %></span></p>-->
          </div>
        </div>
	    </div>
	    
	    <div class="linktag">
		    <%= link_to '投稿の詳細を見る', winepost_path(winepost.id) %>
	    </div>
	  </div>  
	<% end %>
</div> 

<div class="pagenatediv">
	<%= paginate wineposts %>
</div>