<ul class="list-unstyled">
  <% wineposts.each do |winepost| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(winepost.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to winepost.user.name, user_path(winepost.user) %> <span class="text-muted">posted at <%= winepost.created_at %></span>
        </div>
        <div>
        	<p>
        	  <% if winepost.image? %>
        	   <%= image_tag winepost.image.url %>
        	  <% else %> 
        	   <%= image_tag "/assets/default.jpg", :size => '300x200' %>
        	  <% end %> 
        	</p>
        	<p><span>name : </span><%= winepost.wine_name %></p>
          <p><span>type : </span><%= winepost.wine_type %></p>
          
          <%= link_to '投稿の詳細を見る', winepost_path(winepost.id) %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate wineposts %>