<ul class="list-unstyled">
  <% wineposts.each do |winepost| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(winepost.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to winepost.user.name, user_path(winepost.user) %> <span class="text-muted">posted at <%= winepost.created_at %></span>
        </div>
        <div>
          <p><%= winepost.wine_type %></p>
          <p><%= winepost.grape_varieties %></p>
          <p><%= winepost.country %></p>
          <p><%= winepost.review %></p>
          <%= link_to '投稿の詳細を見る', winepost_path(winepost.id) %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate wineposts %>
</ul>