<h1>Winepost新規作成ページ</h1>

<%= form_with(model: @winepost, local: true) do |f| %>

      <div class="form-group">
	      <%= f.label "画像をアップロード" %>
	      <%= f.file_field :image %>
	    </div>  

      <div class="form-group">
        <%= f.label :wine_type, 'ワインの種類は何ですか？' %>
        <%= f.text_field :wine_type, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :grape_varieties, 'ブドウ品種は何が使われていますか？' %>
        <%= f.text_field :grape_varieties, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :country, '生産国はどこですか？' %>
        <%= f.text_field :country, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :review, 'レビューをどうぞ' %>
        <%= f.text_field :review, class: 'form-control' %>
      </div>

      <%= f.submit '投稿' %>
<% end %>

<%= link_to '一覧に戻る', root_path %>